<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:Inter, Arial, sans-serif;
        }
        body{
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center; 
            background:#F4F6F8;
        }
        .container{
            width: 100%;
            max-width: 450px;
            background: #FFFFFF;
            padding: 38px;
            border-radius: 20px;
            border: 1 px solid #DEE3E8;
            box-shadow: 0 12px 35px rgba(20,71,229,.08);
        }
        h1{
            font-size:2rem;
            margin-bottom:10px;
            color:#202C46;
        }
        h2{
            margin-bottom: 10px;
            color: brown;
            font-size: small;
        }
        img{
            width: 100%;
        }
       
        input{
            width:100%;
            padding:12px;
            border:1px solid #DEE3E8;
            border-radius:10px;
            font-size:15px;
            transition:0.3s;
        }
      
        .btn_submit{
            width:50%;
            padding:12px;
            border:none;
            border-radius:10px;
            background:#1447E5;   /* Medical blue */
            color:white;
            font-size:16px;
            font-weight:bold;
            cursor:pointer;
            margin: 10px 0;
            transition:0.3s;
        }
        .btn_submit:hover{
            background:#0F38B8;
            transform:translateY(-2px);
        }
       
        a:hover{
            text-decoration:underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Image Uploader</h1>
        <form action="upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" id="file-input">
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn_submit">
            </div>
        </form>
        <div id="uploaded-image-conatiner">
        <% if(url) { %> 
            <h2>File Uploaded Successfully</h2>
            <img src="<%= url %>" alt="Uploaded Image"
            <%}%>
    </div>
    </div>
    
</body>
</html>